<div>
    main
    <br /><button data-ng-click="logout()">Logout</button>



    Folder: {{ folder.name }} ( {{ folder.fullName }} )<br />


    New Messages: {{ folder.newMessages }}<br />
    Unread Messages:  {{ folder.unreadMessages }}<br />
    Total Messages: {{ folder.totalMessages }}<br />


    Root:
    <div id="mail-folder-tree"></div>




    Subfolders:
    <div data-ng-repeat="subFolder in folder.subFolders">
        {{ subFolder.name }} <button data-ng-click="loadFolder(subFolder.fullName)">x</button>
        <pre>
        {{ subFolder | json }}
        </pre>
    </div>





    Page Messages:<br />
    <div class="mail-row" data-ng-repeat="message in folder.pageMessages">
        <div class="mail-row-from">
            <span data-ng-repeat="from in message.from" title="{{ toEmail(from) }}">{{ toName(from) }}</span>
        </div>
        <div class="mail-row-subject">{{ message.subject }}</div>
         <div class="mail-row-date">{{ formatDate(message.sentDate) }}</div>
    </div>


</div>
