<div>
    main
    <br /><button data-ng-click="logout()">Logout</button><br />



    Folder: {{ folder.name }} ( {{ folder.fullName }} )<br />


    New Messages: {{ folder.newMessages }}<br />
    Unread Messages:  {{ folder.unreadMessages }}<br />
    Total Messages: {{ folder.totalMessages }}<br />


    Root:
    <div id="mail-folder-tree"></div>

    Page Messages:<br />
    <div class="mail-row" data-ng-repeat="message in folder.pageMessages">
        <div class="mail-row-from">
            <span data-ng-repeat="from in message.from" title="{{ toEmail(from) }}">{{ toName(from) }}</span>
        </div>
        <div class="mail-row-subject">{{ message.subject }}</div>
         <div class="mail-row-date">{{ formatDate(message.sentDate) }}</div>
    </div>

    <button data-ng-click="previousEmailPage()">prev</button><!-- data-ng-if="getPageIndex() > 0"-->
    <button data-ng-click="nextEmailPage()">next</button><!-- data-ng-if="getPageIndex() < getTotalPages()"-->
    {{ getPageIndex() }} - {{ getTotalPages() }}

    <pre>{{ folder | json }}</pre>
</div>
